@font-face {
    font-family: xirod;
    src: url(../fonts/xirod.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: url(../images/cyberbg.png) no-repeat center ;
    /* background-size: 2400px; */
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

.container-p1{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

/* Home Header */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

/* Home Title */
.big-title{
    position: absolute;
    line-height: 4rem;
    top: calc(46% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(139, 147, 182);
    font-family: xirod;
}
.big-title-comment{
    position: absolute;
    line-height: 4rem;
    top: calc(54% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(139, 147, 182);
    /* font-family: xirod; */
}